body {
	height: 110%;
	width: 100%;
	background-color: #C1F0F3;
	font-family: "Microsoft JhengHei";
}


.header {
	position: absolute;
	height: 15%;
	width: 100%;
	background: linear-gradient(90deg,#00AAE5,#009DD3);
}

.content {
	position: absolute;
	height: 85%;
	width: 100%;
	background-color: #C1F0F3;
	top:15%;
}

.footer {
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: #FF5910;
	top:100%;
}

.contentL {
	position: relative;
	height: 100%;
	width: 15%;
	background: linear-gradient(180deg,#54E8F3,#5FEDF3);
	float: left;
}

.contentR {
	position: relative;
	height: 100%;
	width: 85%;
	float: left;
}

.navbar {
	position: fixed;
	z-index: 50;
	float: right;
	right: 15px;
	top:3%;
	cursor: pointer;

}

.navbar ul {
	display: inline-table;
	background: radial-gradient(#C1F0F3,#54E8F3);
	width: 115px;
	height: 50px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	z-index: 50;
	border-radius: 10px;	
}

.navbar span {
	position: relative;
	top:10px;
	width: 300px;
}

.navbar ul li {
	border-top: solid 1px #FF5910;
	display: none;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index: 50;
}

.navbar ul:hover li {
	display:block;
}

img {	
	height: 100%;
	width: 1.5*height;
	cursor: pointer;
	float: left;
}

.banner {
	width: 300px;
	height: 90px;
	background-image: url(../image/banner.jpg);
	float: left;
}



.footer span {
	position: relative;
	top:15%;
}

.ho {
	position: relative;
	float: right;
	font-size: 22px;
	height: 50%;
	border-radius: 5px;
	margin-left: 2%;
	right: 2%;
	top:10%;
	font-weight: bold;
	background-color: #C1F0F3;
	cursor: pointer;

}